#main-container {
    margin-top: 175px;
    margin-bottom: 50px;
}

#content-form {
    border-radius: 30px;
    border: 2px solid var(--main-color);
    width: 450px;
}

#signin {
    background-color: var(--main-color);
    width: 100%;
}

    #signin:hover {
        background-color: black;
        transition: background-color 0.5s;
    }
