@{
    ViewData["Title"] = "- Reset Password";
}

<div class="container d-flex justify-content-center align-items-center" id="main-container">
    <div id="content-form" class="p-5">
        <h1 class="text-center mb-3">Reset Password</h1>
        <p>
            Set the new password for your account so
            you can login and access all the features.
        </p>
        <form asp-action="Feedback" asp-controller="Login" method="post">
            <input class="d-block form-control mb-3" type="text" name="" id="" placeholder="New Password">
            <input class="d-block form-control mb-3" type="text" name="" id="" placeholder="Confirm New Password">
            <button id="signin" class="btn d-block submit_button text-white" type="submit">Reset Password</button>
        </form>
    </div>
</div>