@{
    Layout = "~/Views/BeAQcian/Shared/_BeAQcianLayout.cshtml";
}

@section Styles {
    <style>
        main {
            margin-top: 150px;
        }

        #qcian-details {
            background-color: white;
            margin-bottom: 0;
            overflow-y: auto;
        }

        div#section {
            margin-bottom: 2rem;
            overflow: hidden;
        }

        #qcian-details::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        #qcian-details::-webkit-scrollbar {
            width: 5px;
            background-color: #F5F5F5;
        }

        #qcian-details::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #555;
        }

        .fa-arrow-rotate-left {
            font-size: 25px;
            border: 2px solid black;
            border-radius: 50%;
        }

        .container > div > a.back {
            position: absolute;
            top: 155px;
            left: 35px;
        }
    </style>
}

<div class="border border-black rounded-top-3 rounded-bottom-5" id="section">
    <a href="@Url.Action("Index", "Home")" class="back">
        <i class="fa-solid fa-arrow-rotate-left p-2 text-black"></i>
    </a>

    @{
        var customStyle = ViewBag.CustomHeadingStyle ?? "";
    }
    <h1 class="text-white fs-2 rounded-top-3 rounded-bottom-4 @customStyle" id="subHeading">
        @ViewBag.Title
    </h1>


    <div id="qcian-details" class="p-4 rounded-bottom-5">
        @Html.Raw(ViewBag.DynamicContent)
    </div>
</div>
