@{
    Layout = "~/Views/BeAQcian/Shared/_BeAQcianLayout.cshtml";
}

@section Styles {
    <style>
        #qcian-details {
            background-color: white;
            margin-bottom: 0;
            overflow-y: auto;
        }

        div#section {
            overflow: hidden;
        }

        #qcian-details::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        #qcian-details::-webkit-scrollbar {
            width: 5px;
            background-color: #F5F5F5;
        }

        #qcian-details::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #555;
        }

        .fa-arrow-rotate-left {
            font-size: 25px;
            border: 2px solid black;
            border-radius: 50%;
        }

        #main-container {
            margin-top: 0;
        }
        
    </style>
}

<div class="container" id="main-container">
    <h1 class="text-center fs-2 mb-3" style="color: var(--main-color);">Grade Slip for AY [date]/[ ] Sem</h1>

    <div class="border border-black border-2">
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center p-3">
            <span class="mb-2 mb-md-0">Bangcaya, Blake Justin - StudNo - IT.pdf</span>

            <!-- Zoom Controls -->
            <div class="d-flex align-items-center zoom gap-2 mb-2 mb-md-0">
                <i class="fa-solid fa-minus"></i>
                <i class="fa-solid fa-plus"></i>
            </div>

            <!-- Print and Email Controls -->
            <div class="d-flex align-items-center gap-3">
                <div><i class="fa-solid fa-print"></i> <span>Print</span></div>
                <div><i class="fa-solid fa-envelope"></i> <span>Email</span></div>
            </div>
        </div>

        <!-- Image and Next Button -->
        <div style="background-color: grey;" class="p-3">
            <img src="/images/grade.png" alt="regform" class="d-block mx-auto my-auto img-fluid" style="max-height: 500px;">
            <p class="text-end mt-3">
                <a href="#" class="text-white text-decoration-none black-on-hover p-2 rounded-3" style="background-color: var(--main-color);">DOWNLOAD PDF</a>
            </p>
        </div>
    </div>
</div>
