@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */
:root {
    --main-color: #010641;
    --secondary-color: #4351a2;
    --qcian: #F7F7F7;
    --brown: #A08048;
}

/* General styles */
body {
    font-family: "Poppins", sans-serif;
}

hr {
    color: var(--secondary-color);
    width: 75%;
}

nav {
    background-color: #ABA9D8 !important;
    border-bottom: 4px solid var(--brown);
    height: 70px;
}

main {
    margin-top: 50px;
}

footer {
    margin-top: 50px;
}

.banner-message {
    display: none;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 35px;
    width: 40px;
    cursor: pointer;
    border: 2px solid var(--secondary-color);
    padding: 6px;
    z-index: 1010;
}

    .hamburger:hover {
        transition: opacity 0.5s;
        opacity: 0.5;
    }

.bar1,
.bar2,
.bar3 {
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color);
    transition: transform 0.5s;
}

.hamburger.active {
    border: 0;
}

    .hamburger.active .bar1 {
        transform: rotate(-45deg) translate(-4px, 10px);
        background-color: white;
    }

    .hamburger.active .bar2 {
        opacity: 0;
    }

    .hamburger.active .bar3 {
        transform: rotate(45deg) translate(-4px, -10px);
        background-color: white;
    }

/* Navigation Menu */
.nav-menu {
    height: 0;
    width: 0;
    opacity: 0;
    transition: all .75s ease;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9); /* Dark background for overlay effect */
    overflow: hidden;
    z-index: 999; /* Ensures it stays on top */
    background-color: #212529;
}

    .nav-menu.active {
        opacity: 1;
        height: 100vh; /* Full viewport height */
        width: 100vw; /* Full viewport width */
    }

    .nav-menu ul > li {
        list-style-type: none;
        margin-bottom: 1.5em;
    }

        .nav-menu ul > li > a {
            text-decoration: none;
            color: var(--secondary-color);
            position: relative;
            border-bottom: 2px solid rgba(255, 255, 255, 0.041);
        }

            .nav-menu ul > li > a:hover {
                color: var(--brown);
            }

#hamburgerNav {
    flex-direction: column;
    overflow-y: auto;
    align-items: start;
}

.submenu {
    display: none;
}

.submenu li {
    opacity: 0;
    transform: translateX(-10%);
    transition: all 0.3s ease;
}

    /* Apply the sliding effect */
    .submenu li.show {
        opacity: 1;
        transform: translateX(0);
    }


/* Navbar */
nav {
    background-color: white;
    background-size: 1400px 70px;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

/* Sign-in Button */
.nav_signin {
    display: none;
    background-color: var(--main-color);
    border-radius: 17px;
    width: 120px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 0px 5px 5px var(--secondary-color);
    animation: shadows 1.5s infinite;
}

    .nav_signin:hover {
        text-decoration: underline;
    }

/* Profile & Utility Elements */
#main-container {
    margin-top: 100px;
    margin-bottom: 50px;
}

#profileDiv {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10%);
    border: 2px solid var(--main-color);
    position: absolute;
    right: 35px;
    top: 75px;
    height: 300px;
    width: 300px;
    background-color: white;
}

    #profileDiv.active {
        opacity: 1;
        visibility: visible;
        transition: transform 0.7s;
        transform: translateY(0);
    }

.putBorder:hover,
#add_new_account:hover,
#logout:hover,
.cancel:hover,
.mainColorHover:hover,
.forgotPassword:hover,
#logoutBtn:hover,
#save:hover,
#submit:hover,
.black-on-hover:hover {
    transition: all 0.5s;
}
/* Specific Hover Effects */
img.qora_image:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.forgotPassword:hover {
    color: var(--main-color) !important;
}

.cancel:hover,
.mainColorHover:hover {
    background-color: var(--main-color) !important;
    color: white !important;
}

/* Footer */
.footer {
    background-color: #212529;
}

footer a:hover,
.underline-on-hover:hover {
    text-decoration: underline !important;
}

.copyright {
    background-color: var(--brown);
    margin-bottom: 0;
}

#footer {
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    nav {
        background-image: url("../images/QORA_BANNER.png"); 
        background-color: white !important; 
        border-bottom: none;
    }

    nav > .container {
        justify-content: space-between !important;
    }

    .banner-message {
        display: block;
    }

    .nav_signin {
        display: block;
    }

        .name-input-group {
            flex-direction: row !important;
        }

            .name-input-group > input {
                width: 1% !important;
            }

        .personal-info-group {
            flex-direction: row !important;
        }

    #main-container {
        margin-top: 150px;
    }

    #footer {
        flex-wrap: nowrap;
    }

    .address,
    .form,
    .navigation {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    #hamburgerNav {
        flex-direction: row;
        align-items: start;
        justify-content: start;
        overflow-y: hidden;
    }
}

@media (min-width: 1440px) {
    .hamburger {
        display: flex;
    }
}

/* Reusable Styles */
.border-primary {
    border-color: var(--brown) !important;
}

.rounded-4 {
    border-radius: 1.5rem;
}

.rounded-5 {
    border-radius: 2rem;
}

.rounded-bottom-4 {
    border-radius: 0 0 15px 15px;
}

.rounded-bottom-5 {
    border-radius: 0 0 50px 50px;
}

.border-black {
    border-color: #000 !important;
}

.progressbar {
    counter-reset: step;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: auto;
}

    .progressbar li {
        text-align: center;
        width: 20%;
        position: relative;
        color: #7d7d7d;
    }

        .progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border: 2px solid #7d7d7d;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            position: relative;
            z-index: 2;
            background-color: #fff;
        }

        .progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background-color: #7d7d7d;
            position: absolute;
            top: 15px;
            left: -50%;
            z-index: 1;
        }

        .progressbar li:first-child:after {
            content: none;
        }

        .progressbar li.active {
            color: white;
            font-weight: bold;
        }

            .progressbar li.active:before {
                border-color: #000060;
                background: #000060;
            }

            .progressbar li.active + li:after {
                background-color: #000060;
            }

            .progressbar li.active:before {
                background: #000060 url(user.svg) no-repeat center center;
                background-size: 60%;
            }

        .progressbar li::before {
            background: #fff url(user.svg) no-repeat center center;
            background-size: 60%;
        }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#scrolltopbtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    background-color: transparent; /* Set background color to transparent */
}

