@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #010641;
    --secondary-color: #4351a2;
    --qcian: #F7F7F7;
    --brown: #A08048;
}

body {
    font-family: "Poppins", sans-serif;
}

hr {
    color: var(--secondary-color);
    width: 75%;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35px;
    width: 40px;
    cursor: pointer;
    border: 2px solid var(--secondary-color);
    padding: 6px;
    z-index: 1010;
}

    .hamburger:hover {
        transition: opacity 0.5s;
        opacity: 0.5;
    }

.bar1,
.bar2,
.bar3 {
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color);
    transition: transform 0.5s;
}

.hamburger.active {
    border: 0;
}

    .hamburger.active .bar1 {
        transform: rotate(-45deg) translate(-4px, 10px);
        background-color: white;
    }

    .hamburger.active .bar2 {
        opacity: 0;
    }

    .hamburger.active .bar3 {
        transform: rotate(45deg) translate(-4px, -10px);
        background-color: white;
    }

.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212529;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 0.5s;
}

    .nav-menu li {
        list-style-type: none;
        margin-bottom: 1.5em;
    }

.qcianList {
    margin-bottom: 0.5em !important;
}

.nav-menu ul > li > a {
    text-decoration: none;
    color: var(--secondary-color);
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.041);
}

    .nav-menu ul > li > a:hover {
        color: var(--brown);
    }

.nav-menu.active {
    opacity: 1;
    visibility: visible;
    transition: transform 0.5s;
    transform: translateX(0);
}

.submenu.active,
.has-submenu2:hover .submenu2,
.submenu3.active,
.has-submenu4:hover .submenu4,
.has-submenu5:hover .submenu5,
.has-submenu6:hover .submenu6,
.has-submenu7:hover .submenu7,
.has-submenu8:hover .submenu8,
.has-submenu9:hover .submenu9,
.has-submenu10:hover .submenu10,
.has-submenu11:hover .submenu11,
.has-submenu12:hover .submenu12 {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.submenu,
.submenu2,
.submenu3,
.submenu4,
.submenu5,
.submenu6,
.submenu7,
.submenu8,
.submenu9,
.submenu10,
.submenu11,
.submenu12 {
    visibility: hidden;
    opacity: 0;
    background-color: #212529;
    padding: 10px;
    transition: transform 0.5s;
    transform: translateX(-10%);
    left: 475px;
}

.submenu2,
.submenu10,
.submenu11,
.submenu12 {
    width: 80% !important;
    left: 400px;
}

.submenu2 {
    top: 210px;
}

.submenu10 {
    top: 10px;
}

.submenu11 {
    top: 115px;
}

    .submenu11 li {
        height: 40px;
    }

.submenu12 {
    top: 160px;
}

.submenu5 {
    top: 200px;
}

.submenu4 {
    top: 340px;
}

.submenu6,
.submenu7,
.submenu8,
.submenu9 {
    width: 100% !important;
    left: 425px;
}

.submenu8 {
    top: 0px;
}

.submenu9 {
    top: 100px;
}

.submenu6 {
    top: 215px;
}

.submenu7 {
    top: 310px;
}

.level2 {
    width: 70%;
}

.level2--programs {
    width: 50%;
}

#hamburgerNav {
    flex-direction: column;
    overflow-y: auto;
    align-items: start;
}

#level1 {
    width: 27%;
}

nav {
    background-color: white;
    background-size: 1400px 70px;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

.nav_signin {
    background-color: var(--main-color);
    border-radius: 17px;
    width: 120px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 0px 5px 5px var(--secondary-color);
    animation: shadows 1.5s infinite;
}

    .nav_signin:hover {
        text-decoration: underline;
    }

img.qora_image:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.border-primary {
    border-color: #A08048 !important;
}

@keyframes shadows {
    50% {
        text-shadow: var(--main-color) 0 0 5px;
        box-shadow: 0px 0px 5px 5px var(--main-color);
    }

    100% {
        text-shadow: var(--secondary-color) 0 0 5px;
        box-shadow: 0px 0px 5px 5px var(--secondary-color);
    }
}

#profileDiv {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10%);
    border: 2px solid var(--main-color);
    position: absolute;
    right: 35px;
    top: 75px;
    height: 300px;
    width: 300px;
    background-color: white;
}

    #profileDiv.active {
        opacity: 1;
        visibility: visible;
        transition: transform 0.7s;
        transform: translateY(0);
    }

#add_new_account:hover,
#logout:hover {
    text-decoration: underline !important;
}

.cancel:hover,
.mainColorHover:hover {
    background-color: var(--main-color) !important;
    color: white !important;
    transition: all 0.5s;
}

.putBorder:hover {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

.forgotPassword:hover {
    color: var(--main-color) !important;
    transition: color 0.5s;
}

#logoutBtn:hover,
#save:hover,
#submit:hover,
.black-on-hover:hover {
    background-color: black !important;
    transition: background-color 0.5s;
}

h2 {
    font-size: 25px;
}

.footer {
    background-color: #212529;
}

footer a:hover,
.underline-on-hover:hover {
    text-decoration: underline !important;
}



.form-grid {
    margin: 0;
}

.submit_message {
    color: var(--brown);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

    .submit_message:hover {
        color: var(--main-color);
        border-color: var(--main-color);
        transition: all 0.5s;
    }

.copyright {
    background-color: #A08048;
    margin-bottom: 0;
}

#footer {
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    #footer {
        flex-wrap: nowrap;
    }

    .address,
    .form,
    .navigation {
        width: 50%;
    }
}

@media (min-width: 992px) {
    nav {
        background-image: url("../images/QORA_BANNER.png");
    }
}

@media (min-width: 1200px) {
    #hamburgerNav {
        flex-direction: row;
        align-items: start;
        justify-content: start;
        overflow-y: hidden;
    }
}

/* reusable css */
.rounded-4 {
    border-radius: 1.5rem; /* Adjust this value as per your design */
}
.rounded-5 {
    border-radius: 2rem; /* Adjust the value to achieve the desired rounding */
}

.rounded-bottom-4 {
    border-radius: 0 0 15px 15px;
}

.rounded-bottom-5 {
    border-radius: 0 0 50px 50px;
}

.border-black {
    border-color: #000 !important;
}

.progressbar {
    counter-reset: step;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: auto;
}

    .progressbar li {
        text-align: center;
        width: 20%;
        position: relative;
        color: #7d7d7d;
    }

        .progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border: 2px solid #7d7d7d;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            position: relative;
            z-index: 2;
            background-color: #fff;
        }

        .progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background-color: #7d7d7d;
            position: absolute;
            top: 15px;
            left: -50%;
            z-index: 1;
        }

        .progressbar li:first-child:after {
            content: none;
        }

        .progressbar li.active {
            color: white;
            font-weight: bold;
        }

            .progressbar li.active:before {
                border-color: #000060;
                background: #000060;
            }

            .progressbar li.active + li:after {
                background-color: #000060;
            }

            .progressbar li.active:before {
                background: #000060 url(user.svg) no-repeat center center;
                background-size: 60%;
            }

        .progressbar li::before {
            background: #fff url(user.svg) no-repeat center center;
            background-size: 60%;
        }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#scrolltopbtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    background-color: transparent; /* Set background color to transparent */
}


.tool-tip {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
}

    .tool-tip::after {
        background-color: #323a45;
        border-radius: 2px;
        color: #fff;
        content: attr(data-tooltip-title) " ";
        font-weight: normal;
        min-width: 150px;
        padding: 5px 8px;
        text-align: center;
        text-transform: none;
        text-transform: uppercase;
    }

    .tool-tip::before {
        width: 0;
        height: 0;
        content: "";
    }

    .tool-tip::before,
    .tool-tip::after {
        position: absolute;
        transition: opacity 250ms ease 0ms, transform 250ms ease 0ms;
        transform-style: preserve-3d;
        opacity: 0;
        z-index: -1;
    }

    .tool-tip[data-tooltip-position="bottom"]::after {
        left: 50%;
        transform: translate3d(-50%, -10px, 0);
        top: calc(100% + 10px);
    }

    .tool-tip[data-tooltip-position="bottom"]::before {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        left: 50%;
        transform: translate3d(-50%, -10px, 0);
        border-bottom: 7px solid #323a45;
        top: calc(100% + 3px);
    }

    .tool-tip:hover::before,
    .tool-tip:hover::after {
        opacity: 1;
        z-index: 100;
    }

    .tool-tip[data-tooltip-position="bottom"]:hover::before,
    .tool-tip[data-tooltip-position="bottom"]:hover::after {
        transform: translate3d(-50%, 0px, 0);
    }
