@{
    ViewBag.Title = "- Registrar";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container" id="main-container">
    <h1>Data Analytics - Work In Progress!</h1>
    <div class="d-flex justify-content-center align-items-center mt-3 gap-2">
        <a href="@Url.Action("Index")" style="transform: rotate(180deg)">
            <img src="~/images/Right-Chevron-Outline-Icon-Graphics-29549986-1.jpg" height="50" />
        </a>
        <div style="width: 30px; height: 30px; border-radius: 50%; background-color: #102c39;">
        </div>
        <div style="width: 40px; height: 40px; border-radius: 50%; background-color: #1c465c;">
        </div>
    </div>
</div>
