div.active {
    visibility: visible !important;
    opacity: 1 !important;
}

i.operation {
    font-size: 15px;
    margin-right: 5px;
}

span.sub-span {
    font-size: 13px;
    border: 2px solid grey;
    width: 80%;
}

button.filter,
select {
    margin: 0 5px;
    background-color: white;
    border: 2px solid var(--main-color) !important;
    color: var(--main-color) !important;
}

    button.filter:hover {
        background-color: var(--main-color);
        color: white !important;
        transition: all 0.5s;
    }

hr.divider {
    width: 100%;
}

#content-form {
    border-radius: 30px;
    border: 2px solid var(--main-color);
}

.graduated {
    background-color: grey !important;
    color: white !important;
    width: 75px;
    margin-left: 20px;
    margin: 0;
}

.white-on-hover:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.underline-on-hover:hover {
    text-decoration: underline !important;
}

/* Responsive Navbar Brand */
.navbar-brand {
    width: 100%;
    max-width: 821px;
}

/* Responsive Square */
.square {
    height: 250px;
    width: 250px;
    border-radius: 5%;
}

.fa-cloud-arrow-up {
    cursor: pointer;
}

    .fa-cloud-arrow-up:hover {
        opacity: 1 !important;
        transition: opacity 0.5s;
    }

#submitImage {
    background-color: var(--main-color);
    width: 150px;
}

    #submitImage:hover {
        background-color: black;
        transition: background-color 0.5s;
    }

/* Responsive Adjustments */
@media (min-width: 1024px) {
    .filterOptions {
        top: 50px !important;
        left: 160px !important;
    }
}

@media (max-width: 768px) {
    .square {
        height: 150px;
        width: 150px;
    }

    .navbar-brand {
        width: 100%;
        max-width: 100%;
    }

    button.filter, select {
        margin: 5px 0;
    }
}

@media (max-width: 576px) {
    .graduated {
        width: auto;
        margin-left: 0;
    }
}
