@{
    ViewBag.Title = "- Registrar";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container" id="main-container">
    <div class="d-flex flex-column flex-md-row gap-3 mb-3">
        <!-- Search Input Group -->
        <div class="input-group border border-black p-3 rounded-4 w-100 w-md-auto">
            <i class="fa-solid fa-magnifying-glass mt-3 ms-3 me-3" style="font-size: 25px; color: grey;"></i>
            <input type="search" name="" placeholder="Search by Reference ID or Student Number" class="form-control">
            <button id="submit" type="submit" style="background-color: var(--main-color);" class="text-white rounded-end-4 p-3">Search</button>
        </div>

        <!-- Time Display -->
        <div class="d-flex text-white rounded-4 p-3 align-items-center justify-content-center w-100 w-md-50" style="background-color: var(--main-color);">
            <p class="fw-bold fs-3 m-0">2:30<span class="fw-normal" style="vertical-align: super; font-size: 13px;">45</span>PM</p>
            <div class="ms-3">
                <p class="m-0">Work Time</p>
                <p style="font-size: 10px;" class="m-0">
                    Saturday, March 2, 2024 (GMT+8) <br>
                    Time in Manila, Metro Manila
                </p>
            </div>
        </div>
    </div>

    <div id="content-form" class="p-md-5 p-3 mt-3">
        @await Html.PartialAsync("_LogoutModal")
        <div class="d-flex flex-column flex-lg-row gap-5">
            <div class="first-half" style="width: 100%">
                <!-- Students Section Header -->
                <div class="d-flex flex-wrap align-items-center gap-2 mb-3">
                    <h1 class="fs-2">Students</h1>
                    <button class="filter btn btn-outline-dark">All</button>
                    <button class="filter btn btn-outline-dark">Active</button>
                    <select class="form-select w-auto">
                        <option selected>Archive</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <div style="position: relative">
                        <a id="filter-anchor" href="#" onclick="toggleFilter()" class="btn text-white ms-2" style="background-color: var(--main-color);">
                            <i class="fa-solid fa-filter text-white me-2"></i>Filters
                        </a>
                        <div id="filter-menu" class="p-3 border border-black text-white rounded-4" style="position: absolute; min-width: 200px;background-color: var(--main-color); visibility: hidden; opacity: 0; top: 50px; left: -50px;">
                            <span onclick="toggleAcademicYear()" class="white-on-hover">Academic Year ></span>
                            <span onclick="toggleCollegeProgram()" class="white-on-hover">College Program ></span>
                            <span onclick="toggleSection()" class="white-on-hover">Yr. Level/Section ></span>
                            <span onclick="toggleStatus()" class="white-on-hover">Student Status ></span>
                            <span class="white-on-hover">Student Number</span>
                        </div>
                        <div class="border border-black text-white filterOptions" id="academicYear" style="position: absolute; background-color: var(--main-color); min-width: 200px; visibility: hidden; opacity: 0; top: 210px; left: -50px;">
                            <p class="text-center">Set Year</p>
                            <div class="input-group">
                                <select class="form-select form-select-sm" aria-label="Small select example">
                                    <option selected></option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                -
                                <select class="form-select form-select-sm" aria-label="Small select example">
                                    <option selected></option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="border border-black text-white filterOptions" id="collegeProgram" style="position: absolute; background-color: var(--main-color); left: -150px; top: 210px; visibility: hidden; opacity: 0;">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    College of Business and Accountancy
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    College of Education
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    College of Engineering
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    College of Computer Studies
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Bachelor of Science in Information and Technology</a></li>
                                    <li><a class="dropdown-item" href="#">Bachelor of Science in Information Systems</a></li>
                                    <li><a class="dropdown-item" href="#">Bachelor of Science in Computer Science</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="border border-black text-white p-2 filterOptions" id="section" style="position: absolute; background-color: var(--main-color); left: -50px; top: 210px; visibility: hidden; opacity: 0;">
                            <div class="d-flex gap-3">
                                <div class="d-flex flex-column">
                                    <p class="text-center m-0" style="opacity: 0.5;">YEAR LEVEL</p>
                                    <div class="input-group gap-1">
                                        <input type="radio" name="year" id="1st"> <label for="1st">1st Year</label>
                                    </div>
                                    <div class="input-group gap-1"><input type="radio" name="year" id="2nd"> <label for="2nd">2nd Year</label></div>
                                    <div class="input-group gap-1"><input type="radio" name="year" id="3rd"> <label for="3rd">3rd Year</label></div>
                                    <div class="input-group gap-1"><input type="radio" name="year" id="4th"> <label for="4th">4th Year</label></div>
                                </div>
                                <div class="d-flex flex-column">
                                    <p class="text-center m-0" style="opacity: 0.5;">SEMESTER</p>
                                    <div class="input-group gap-1">
                                        <input type="radio" name="sem" id="1stSem"> <label for="1stSem">1ST SEM</label>
                                    </div>
                                    <div class="input-group gap-1"><input type="radio" name="sem" id="2ndSem"> <label for="2ndSem">2ND SEM</label></div>
                                </div>
                            </div>
                            <div>
                                <p style="opacity: 0.5;" class="m-0">SECTION</p>
                                <div class="input-group gap-2">
                                    <input type="radio" name="section" id="A"> <label for="A">A</label>
                                    <input type="radio" name="section" id="D"> <label for="D">D</label>
                                    <input type="radio" name="section" id="G"> <label for="G">G</label>
                                    <input type="radio" name="section" id="J"> <label for="J">J</label>
                                </div>
                                <div class="input-group gap-2">
                                    <input type="radio" name="section" id="B"> <label for="B">B</label>
                                    <input type="radio" name="section" id="E"> <label for="E">E</label>
                                    <input type="radio" name="section" id="H"> <label for="H">H</label>
                                    <input type="radio" name="section" id="K"> <label for="K">K</label>
                                </div>
                                <div class="input-group gap-2">
                                    <input type="radio" name="section" id="C"> <label for="C">C</label>
                                    <input type="radio" name="section" id="F"> <label for="F">F</label>
                                    <input type="radio" name="section" id="I"> <label for="I">I</label>
                                    <input type="radio" name="section" id="L"> <label for="L">L</label>
                                </div>
                            </div>
                        </div>
                        <div class="border border-black text-white p-2 filterOptions" id="status" style="position: absolute; background-color: var(--main-color); left: -50px; top: 210px; visibility: hidden; opacity: 0;">
                            <div class="d-flex flex-column">
                                <p class="m-0" style="opacity: 0.5;">ACTIVE</p>
                                <div class="input-group gap-1">
                                    <input type="radio" name="active" id="Regular"> <label for="Regular">Regular</label>
                                </div>
                                <div class="input-group gap-1"><input type="radio" name="active" id="Irregular"> <label for="Irregular">Irregular</label></div>
                            </div>
                            <div class="d-flex flex-column">
                                <p class="m-0" style="opacity: 0.5;">ARCHIVE</p>
                                <div class="input-group gap-1">
                                    <input type="radio" name="archive" id="Graduated"> <label for="Graduated">Graduated</label>
                                </div>
                                <div class="input-group gap-1"><input type="radio" name="archive" id="Dropped"> <label for="Dropped">Dropped</label></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Responsive Table Wrapper -->
                <div class="table-responsive">
                    <table class="table mt-4 w-100">
                        <thead>
                            <tr>
                                <th scope="col">Photo</th>
                                <th scope="col">Student Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Status</th>
                                <th scope="col">Operation</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Photo</td>
                                <td>John Doe</td>
                                <td>doe.john@gmail.com</td>
                                <td><span class="badge bg-success">Graduated</span></td>
                                <td><i class="fa-solid fa-user-pen operation me-2" style="cursor: pointer;"></i><i class="fa-regular fa-trash-can operation" style="cursor: pointer;"></i></td>
                                <td><a href="#" class="text-decoration-none">View Profile</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Second Half: Student Information -->
            <div class="second-half w-100 w-lg-35">
                <input type="text" placeholder="Reference ID" class="form-control mb-3">
                <div class="border border-black rounded-3 p-4">
                    <div class="text-center">
                        <img class="border border-2 mb-3" height="150px" src="../../images/BLAKE.jpg" alt="Blake">
                        <p class="fw-bold fs-5 mb-1">Blake Justin Bangcaya</p>
                        <p class="badge bg-primary mb-1">REGULAR 3RD YR - 1ST SEM</p>
                        <p class="badge bg-success mb-1">CLEARED</p>
                        <p class="badge bg-secondary">GWA: 1</p>
                    </div>
                    <div class="d-flex justify-content-around mt-3">
                        <a href="@Url.Action("ViewProfile")" class="btn btn-outline-secondary">View Profile</a>
                        <a href="@Url.Action("Enlist")" class="btn btn-outline-secondary">Enlist Student</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
