@{
    ViewBag.Title = "- Registrar";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container" id="main-container">
    <div id="content-form" class="p-md-5 p-3 mt-3">
        @await Html.PartialAsync("_LogoutModal")

        <!-- Header Section -->
        <div class="d-flex flex-column flex-md-row justify-content-evenly align-items-center">
            <img src="/images/QCU-Logo.png" alt="QCU" height="80px" class="mb-3 mb-md-0">
            <div class="text-center">
                <p class="fw-bold fs-4 m-0">QUEZON CITY UNIVERSITY</p>
                <p class="m-0">673 Quirino Hi-Way, San Bartolome, Novaliches Q.C</p>
                <p class="fw-bold fs-5 m-0">ADMISSIONS OFFICE</p>
                <p class="m-0">STUDENT APPLICATION FORM</p>
                <p><span class="text-danger">1st</span> SEM, AY: <span class="text-danger">2024-2025</span></p>
            </div>
            <img src="/images/blake.jpg" alt="blake" height="100px" style="border: 2px solid black;">
        </div>

        <!-- Personal Information Section -->
        <h1 class="fs-3 mt-4">Personal Information</h1>
        <hr class="divider">

        <p class="fw-bold">Full Name</p>
        <div class="row g-2">
            <div class="col-12 col-md-3"><input type="text" placeholder="Last Name" class="form-control"></div>
            <div class="col-12 col-md-3"><input type="text" placeholder="First Name" class="form-control"></div>
            <div class="col-12 col-md-3"><input type="text" placeholder="Middle Name" class="form-control"></div>
            <div class="col-12 col-md-3"><input type="text" placeholder="Suffix" class="form-control"></div>
        </div>

        <!-- Birth Details Section -->
        <div class="mt-3 row g-3">
            <div class="col-md-4">
                <p class="fw-bold">Date of Birth</p>
                <input type="date" class="form-control">
            </div>
            <div class="col-md-4">
                <p class="fw-bold">Birth Place</p>
                <input type="text" placeholder="Select Place" class="form-control">
            </div>
            <div class="col-md-4">
                <p class="fw-bold">Gender</p>
                <select class="form-select">
                    <option selected>Select One</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
        </div>

        <!-- Address Section -->
        <p class="fw-bold mt-4">Present Address</p>
        <div class="row g-2">
            <div class="col-12 col-md-6 col-lg-4"><input type="text" placeholder="House No./Street" class="form-control"></div>
            <div class="col-12 col-md-6 col-lg-4"><input type="text" placeholder="Barangay" class="form-control"></div>
            <div class="col-12 col-md-6 col-lg-4"><input type="text" placeholder="Municipality" class="form-control"></div>
            <div class="col-12 col-md-6 col-lg-4"><input type="text" placeholder="District" class="form-control"></div>
            <div class="col-12 col-md-6 col-lg-4"><input type="text" placeholder="Zip Code" class="form-control"></div>
        </div>

        <!-- Basic Information Section -->
        <h2 class="fs-3 mt-4">Basic Information</h2>
        <hr class="divider">

        <div class="row g-3">
            <div class="col-md-4">
                <label for="date" class="fw-bold">Application Date</label>
                <input type="date" id="date" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="lrn" class="fw-bold">LRN</label>
                <input type="number" id="lrn" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="studentNumber" class="fw-bold">Student Number</label>
                <input type="number" id="studentNumber" class="form-control" disabled>
            </div>
        </div>

        <!-- Educational Attainment Section -->
        <h2 class="fs-3 mt-4">Educational Attainment</h2>
        <hr class="divider">

        <p class="fw-bold">College</p>
        <select class="form-select mb-3" id="College">
            <option selected>Select One</option>
            <option value="abm">ABM</option>
            <option value="humss">HUMSS</option>
            <option value="STEM">STEM</option>
            <option value="ICT">ICT</option>
            <option value="GAS">GAS</option>
        </select>

        <!-- Family Background Section -->
        <h2 class="fs-3 mt-4">Family Background</h2>
        <hr class="divider">

        <p class="fw-bold">Father's Full Name</p>
        <div class="row g-2">
            <div class="col-12 col-md-3"><input type="text" placeholder="Last Name" class="form-control"></div>
            <div class="col-12 col-md-3"><input type="text" placeholder="First Name" class="form-control"></div>
            <div class="col-12 col-md-3"><input type="text" placeholder="Middle Name" class="form-control"></div>
            <div class="col-12 col-md-3"><input type="text" placeholder="Suffix" class="form-control"></div>
        </div>

        <!-- Emergency Contact Section -->
        <h2 class="fs-3 mt-4">Person to be Notified in Case of Emergency</h2>
        <hr class="divider">

        <p class="fw-bold">Full Name</p>
        <div class="row g-2">
            <div class="col-12 col-md-3"><input type="text" placeholder="Last Name" class="form-control"></div>
            <div class="col-12 col-md-3"><input type="text" placeholder="First Name" class="form-control"></div>
            <div class="col-12 col-md-3"><input type="text" placeholder="Middle Name" class="form-control"></div>
            <div class="col-12 col-md-3"><input type="text" placeholder="Suffix" class="form-control"></div>
        </div>

        <!-- Back to Search Tab -->
        <p class="text-end mt-4">
            <a href="@Url.Action("Index")" class="text-decoration-none text-white p-2 rounded-3" style="background-color: var(--main-color);">Back to Search Tab</a>
        </p>
    </div>
</div>
