span.sub-span {
    font-size: 13px;
    border: 2px solid grey;
    width: 80%;
}

button.filter,
select {
    margin: 0 5px;
    background-color: white;
    border: 2px solid var(--main-color) !important;
    color: var(--main-color) !important;
    width: 15%;
}

    button.filter:hover {
        background-color: var(--main-color);
        color: white;
        transition: all 0.5s;
    }

hr.divider {
    width: 100%;
}

#main-container {
    margin-top: 160px;
}

#content-form {
    border-radius: 30px;
    border: 2px solid var(--main-color);
}

.underline-on-hover:hover {
    text-decoration: underline !important;
}

.navbar-brand {
    width: 821px;
}

.square {
    height: 250px;
    width: 250px;
    border-radius: 5%;
}

.fa-cloud-arrow-up {
    cursor: pointer;
}

    .fa-cloud-arrow-up:hover {
        opacity: 1 !important;
        transition: opacity 0.5s;
    }

#submitImage {
    background-color: var(--main-color);
    width: 150px;
}

    #submitImage:hover {
        background-color: black;
        transition: background-color 0.5s;
    }
