<nav class="fixed-top">
    <div class="container d-flex justify-content-center flex-wrap align-items-center">
        <div class="d-flex align-items-center gap-3 flex-wrap">
            <div class="hamburger" onclick="toggleMenu()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div class="nav-menu">
                <p class="text-white text-center fs-1 qora_paragraph m-0">
                    <img src="@Url.Content("~/images/logo-white.png")" alt="QORA" height="150px">
                </p>
                <div class="container d-flex p-0" id="hamburgerNav">
                    <ul class="p-0 d-inline-block">
                        <li><a href="#" class="fs-3" id="be_a_QCIAN">Be a QCIAN >></a></li>
                        <li><a href="#" class="fs-3" id="programsOffered">Programs Offered >></a></li>
                        <li><a href="#" class="fs-3" id="campus">Campus >></a></li>
                        <li><a href="#" class="fs-3" id="contactUs">Contact Us >></a></li>
                    </ul>
                    <ul id="secondUL" class="submenu">
                    </ul>
                    <ul id="thirdUL" class="submenu">
                    </ul>
                </div>
            </div>
                <a href="@Url.Action("Index", "Home")" class="text-decoration-none fw-bold fs-2" style="color: var(--main-color);">
                    <img class="qora_image" src="@Url.Content("~/images/logo.png")" alt="QORA" height="70px">
                </a>
        </div>
        <ul class="nav gap-3 fw-bold">
            <li class="nav-item"><a href="@Url.Action("Index", "Login")" class="nav-link px-2 text-white nav_signin">Sign in</a></li>
        </ul>
    </div>
    <p class="banner-message text-uppercase fs-4 text-center text-white p-2 m-0 border-top border-3 border-primary" style="background-color: #212529;">
        mula sa tahanan ng husay at talino, para sa bayan...
    </p>
</nav>
