@{
    ViewData["Title"] = "- Register";
}

<div class="container d-flex justify-content-center align-items-center" id="main-container">
    <div id="content-form" class="p-5">
        <h1 class="mb-3 fs-2">Create your Account</h1>
        <p>Create your online account</p>

        <form asp-action="Verification" method="post">
            <input class="d-block form-control mb-3" type="email" name="Email" id="email" placeholder="email@gmail.com" />
            <input class="d-block form-control mb-3" type="password" name="Password" id="password" placeholder="Password" />

            <p class="m-0">Password must contain</p>
            <p style="font-size: 15px;" class="text-success m-0"><i class="fa-regular fa-circle-check"></i> at least 8-25 characters</p>
            <p style="font-size: 15px;" class="text-success m-0"><i class="fa-regular fa-circle-check"></i> at least 1 lowercase letter</p>
            <p style="font-size: 15px;" class="text-success m-0"><i class="fa-regular fa-circle-check"></i> at least 1 uppercase letter</p>
            <p style="font-size: 15px;" class="text-danger m-0"><i class="fa-regular fa-circle-xmark"></i> at least 1 number</p>
            <p style="font-size: 15px;" class="text-success"><i class="fa-regular fa-circle-check"></i> at least 1 special character (! @@ # $ % ^ & *)</p>

            <button id="signin" class="btn d-block submit_button text-white" type="submit">Send OTP</button>
        </form>
    </div>
</div>
