hr.divider {
    width: 100%;
}

#main-container {
    margin-top: 100px;
    margin-bottom: 50px;
}

.course {
    width: 40%;
}

.next {
    background-color: var(--main-color);
}

    .next:hover {
        background-color: black;
        transition: background-color 0.5s;
    }

#content-form {
    border: 2px solid var(--main-color);
    border-radius: 30px;
}