hr.divider {
    width: 100%;
}

.step1 {
    width: 20%;
}

.course {
    width: 40%;
}

.next {
    background-color: var(--main-color);
}

    .next:hover {
        background-color: black;
        transition: background-color 0.5s;
    }

#content-form {
    border: 2px solid var(--main-color);
    border-radius: 30px;
}

@media (min-width: 768px) {
    .background-info-form {
        flex-direction: row !important;
    }

    .personal-details-form {
        flex-direction: row !important;
    }

    .personal-details-form input {
        width: 1% !important;
    }
}