@{
    ViewBag.Title = "- Register";
}

<div class="container" id="main-container">
    <div id="content-form" class="p-5 mt-3 d-flex justify-content-center flex-column align-items-center gap-4">
        <div class="yay p-4 rounded-5 d-flex justify-content-center text-center">
            <div style="width: 50%;">
                <i class="fa-regular fa-circle-check" style="font-size: 75px; color: var(--main-color);"></i>
                <h1 class="text-success">Thank you!</h1>
                <h2>You are successfully registered. Good luck on your application.</h2>
            </div>
        </div>
        <p class="mb-0 mt-2">
            <a href="@Url.Action("Index", "Home")" class="text-decoration-none back_to_homepage text-white py-3 px-5 rounded-4">Back to Homepage</a>
        </p>
    </div>
</div>
