@{
    ViewBag.Title = "- Register";
}

<div class="container d-flex justify-content-center align-items-center" id="main-container">
    <div id="content-form" class="p-5">
        <h1 class="fs-2 text-center mb-3">OTP Verification</h1>
        <p>Enter the 6 digit verification code that was sent to your email.</p>
        <p class="fw-bold m-0">Enter Verification Code</p>
        <form asp-action="Registered" method="post">
            <div id="otp" class="inputs d-flex flex-row my-2">
                <input class="me-2 text-center form-control rounded" type="text" id="first" maxlength="1" />
                <input class="me-2 text-center form-control rounded" type="text" id="second" maxlength="1" />
                <input class="me-2 text-center form-control rounded" type="text" id="third" maxlength="1" />
                <input class="me-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" />
                <input class="me-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" />
                <input class="text-center form-control rounded" type="text" id="sixth" maxlength="1" />
            </div>
            <button id="signin" class="btn d-block mb-3 submit_button text-white" type="submit">Submit</button>
            <p class="otp_not_received m-0">OTP not received? <a href="#" class="text-black">Send Again</a></p>
        </form>
    </div>
</div>