@{
    ViewBag.Title = "- Enrollment";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container" id="main-container">
    <div id="content-form" class="p-5 mt-3">
        @await Html.PartialAsync("_LogoutModal")
        <div>
            <ul class="progressbar">
                <li class="active"><a style="color:black;">Recent ID Picture</a></li>
                <li class="active"><a style="color:black;">Year Level and Screening</a></li>
                <li class="active"><a style="color:black;">Program</a></li>
                <li>Grades Input</li>
                <li>Input Review and Electronic Consent</li>
                <li>Reference ID</li>
            </ul>
        </div><br>
        <h1 class="mt-3">Student Enlistment Form</h1>
        <hr style="width: 100%;">
        <form asp-action="Program" method="post">
            <div class="border border-1 border-black rounded-4 mx-auto" style="width: 50%;">
                <h5 style="background-color: var(--main-color);" class="text-white text-center fw-bold p-2 rounded-top-4">PROGRAMS OFFERED</h5>

                <p class="text-uppercase text-center college p-2" style="color:gray;">College of Business and Accountancy</p>
                <a id="CCS" onclick="toggleProgram()" style="color: black;" class=" p-2 d-block text-uppercase text-center mb-2 text-decoration-none college" data-bs-toggle="collapse" href="#CCS" role="button" aria-expanded="false" aria-controls="CCS">College of Computer Studies</a>
                <div class="collapse" id="CCS">
                    <div class="card card-body border-0">
                        <div class="input-group gap-2 ms-4 mb-2">
                            <input type="radio" name="PROGRAMS_OFFER" value="CS" id="BSCS" disabled><label for="BSCS" style="color:gray;"> Bachelor of Science in Computer Science</label>
                        </div>
                        <div class="input-group gap-2 ms-4 mb-2">
                            <input type="radio" name="PROGRAMS_OFFER" value="IS" id="BSIS" disabled><label for="BSIS" style="color:gray;"> Bachelor of Science in Information Systems</label>
                        </div>

                        <div class="input-group gap-2 ms-4 mb-2">
                            <input type="radio" name="PROGRAMS_OFFER" value="IT" id="BSIT"><label for="BSIT"> Bachelor of Science in Information Technology</label>
                        </div>
                    </div>
                </div>
                <p class="text-uppercase text-center college p-2" style="color:gray;">College of Education</p>
                <p class="text-uppercase text-center college p-2" style="color:gray;">College of Engineering</p>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <button class="btn next text-white" id="previousButton" type="button" onclick="goBack()"><i class="fa-solid fa-chevron-left"></i> Previous</button>
                <button class="btn next text-white" name="program_info_next" type="submit">Next <i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </form>
    </div>
</div>
<script>
    function goBack() {
        // Navigate to Grade.cshtml (update the URL as necessary)
        window.location.href = '@Url.Action("Year", "Student")';
    }
</script>